*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.shape {
    width: auto;
    height: auto;
    overflow: unset !important;
    border: 0;
    background-color: transparent;
    padding: 30px 0 0;
}

.slider__item.active .shape {
    padding: 0 0 40px;
}

.slider__item.active .shape:before {
    content: "";
    height: 15px;
    width: 15px;
    bottom: 20px;
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slider__item.active .shape:after {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    bottom: 0;
}

.slider__item.active .shape__bottom {position: relative;width: 50px;height: 35px;left: 48%;bottom: 10px;transform: translateX(-50%);z-index: -1;border-left: 1px solid #d9b1bd;}

.slider__item.active .shape__bottom:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 35px;
    width: 50px;
    border-right: 1px solid #d9b1bd;
}

.slider__item.active .shape__bottom:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f55f8d;
    height: 35px;
    width: 50px;
}

.shape.active {
    padding: 0 0 40px;
}

.shape__img {
}

.slider__container {
    width: 300px;
    margin: auto;
    height: 170px;
    position: relative;
    overflow: hidden;
}

.blog {
    padding-top: 115px;
    background-image: url(../images/bg16.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.testimonial__container {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

p.content__bottom {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.content__top .content__top__strong span {
    font-size: 15px;
    color: #f55f8d;
    font-style: italic;
}

.content__top .content__top__strong h3 {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial__content {
    padding: 30px;
}

.content__top .content__top__strong {
    width: 80%;
    text-align: center;
}

.content__top i {font-size: 70px;color: #f55f8d;}

.content__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer__bottom .social ul li a i {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    margin: 2px;
}

.footer__bottom .social ul li {
    display: inline-block;
}

.footer__bottom .dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom {
    background-color: #1f343b;
    padding: 10px 0;
    font-size: 15px;
}

.brand__item {
    padding: 25px;
}

.brand {
    padding-top: 80px;
    padding-bottom: 50px;
}

.post__author i, .post__comment i {
    margin-right: 5px;
    margin-top: -1px;
    font-size: 22px;
    color: #f55f8d;
}

.post__comment {
    width: 50%;
}

.post__author {
    width: 50%;
}

.post__date {
    position: absolute;
    border-radius: 6px;
    padding: 10px 20px;
    top: -15px;
    left: 15px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.post__detail {
    display: flex;
    text-transform: uppercase;
}

.post__description {
    margin-bottom: 20px;
}

.blog__content .post__title {
    color: #262626;
    font-size: 26px;
    margin-bottom: 10px;
}

.blog__img {
    border-radius: 8px;
    overflow: hidden;
}

.blog__content {
    position: relative;
    padding: 30px 15px 20px 15px;
}

.blog__item {
    background: rgba(245, 95, 141, 0.1);
    margin-right: 30px;
    border-radius: 8px;
}

.brand__slider {
    padding: 30px 0;
}

.brand__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 100px;
}

.brand__img:hover {
    box-shadow: 5px 0 30px 0 rgba(245, 95, 141, 0.5);
}
.brand__img:hover:after{
    opacity: 1;
}
.brand__img:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    opacity: 0;
    transition: .5s;
}
.footer__content .overlay {
    opacity: 0.6;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}
ul{
    list-style: none;
}
.footer__content .row .col .our__link li i, .footer__content .row .col .our__service li i, .footer__content .row .col .other__link li i {
    color: #fff;
}

.footer__content .row .col li {
    padding: 5px 0 8px 0;
}

.footer__content .row .col h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
    line-height: 1.2;
}

.footer__content .row .col h3:before {
    content: "";
    width: 15px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

.footer__content .row .col h3:after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

.footer__content .row .col .footer__adress li p {
    opacity: 0.6;
}

.footer__content .row .col .footer__adress li i {
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    min-width: 40px;
    line-height: 40px;
    margin-right: 10px;
}

.footer__content .row .col .footer__adress li {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 8px 0;
    font-size: 15px;
}

.footer__content {
    padding-top: 70px;
}

.footer__content .row .col .footer__logo {
    margin-bottom: 25px;
}

.footer__content .row .col {
    width: 25%;
    padding: 0 15px 0 15px;
}

.footer__content .row {
    display: flex;
}

.backtotop i {
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    color: #fff;
}

.backtotop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    background: #f55f8d;
}

.testimonial {
    padding-top: 115px;
    background-image: url(../images/bg17.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.plan__content .row .col .item .item__submit a {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    padding: 20px 35px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    border-radius: 35px;
}

.plan__content .row .col .item ul li p {
    font-size: 18px;
    font-weight: 400;
    color: #262626;
    margin-left: 15px;
}

.plan__content .row .col .item ul li {padding: 5px 0 5px 0;display: flex;align-items: center;}

.plan__content .row .col .item ul {
    list-style: none;
    padding: 15px 0;
    border-top: 1px solid gray;
    width: 70%;
    margin: 0 auto;
}

.plan__content .row .col .item .item__price span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan__content .row .col .item .item__price {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
    margin-bottom: 25px;
}

.plan__content .row .col .item h3 {
    font-size: 30px;
    font-weight: 700;
    color: #262626;
}

.plan__content .row .col .item {
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    border: 3px solid transparent;
    transition: all 0.5s;
}

.plan__content .row .col .item:hover {
    border-image: url(../images/br.png) 1 round;
}

.plan__content .row .col {
    width: 33.33%;
    padding: 15px;
}

.plan__content .row {
    display: flex;
    align-items: center;
}

.plan .button__choose .row .col .item {
    padding: 10px 20px;
}

.plan .button__choose .row .col .item.active {
    background: #fff;
    border-radius: 5px;
}

.plan .button__choose .row .col {
    width: 50%;
}

.plan .button__choose .row {
    display: flex;
    align-items: center;
    padding: 5px;
}

.plan .button__choose {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 5px;
}

.portfolio {
    background-image: url(../images/bg17.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.plan {
    padding-top: 115px;
}

.item__button i {
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
}

.item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26 19 19 / 58%);
    z-index: 1;
    transition: .5s;
    opacity: 0;
}

.portfolio__content .item:hover .item__overlay {opacity: 1;}

.portfolio__content .item .item__content p {
    color: #fff;
    margin-bottom: 0;
    opacity: 0.7;
    font-size: 16px;
}

.portfolio__content .item .item__content h5 {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
}

.item__5 {
    grid-column: 3/4;
    grid-row: -3/-1;
}

.item__img {
    height: 100%;
}

.plan__content .row .col .item .item__img {
    width: 125px;
    margin: 0 auto;
    margin-bottom: 15px;
}


.item__6 {
    grid-column: 1/3;
}

.item__1 {
    grid-column: 1/3;
}

.portfolio__content .item {
    position: relative;
    overflow: hidden;
}

.item__button {top: 0;right: 0;position: absolute;border-radius: 10px;padding: 15px;text-align: center;z-index: 1;cursor: pointer;transform: translateX(100%) translateY(-100%);transition: .8s;}

.portfolio__content .item:hover .item__button {
    transform: translateX(0) translateY(0);
}

.portfolio__content .item .item__content {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    transform: translateY(100%);
    transition: .5s;
}

.portfolio__content .item:hover .item__content {
    transform: translateY(0);
}

.portfolio__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.5fr 1.4fr 1.5fr;
    grid-gap: 25px;
    height: 900px;
    padding: 25px;
}

.features .row .col .item {
    padding: 10px;
}

.features .item__block .item__block__content h4 {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 25px;
    color: #262626;
}

.features .item__block.active .item__block__content h4 {
    color: #fff;
}

.features {
    background-image: url(../images/bg2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
}
img{
    width: 100%;
    height: 100%;
}

.shape__img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #f55f8d;
    margin: 0 auto;
}

.brand__img .logo__hover {
    opacity: 0;
    transition: .5s;
    display: none;
}

.brand__img:hover .logo__hover {
    opacity: 1;
    z-index: 9;
    display: block;
}

.brand__img img {
    width: 110px;
    transition: .5s;
    height: auto;
}

.brand__img:hover .logo__main {
    opacity: 0;
    display: none;
}

.footer__content .row .col .footer__logo img {
    width: 174px;
}

.portfolio__content .item__img img {
    border-radius: 10px;
}
.features .row .col {
    width: 50%;
    padding: 15px;
}

.features .row {
    display: flex;
    align-items: center;
}

.item__block__icon {
    margin-right: 20px;
    padding: 15px;
}

.features .item__block {
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
    border-radius: 10px;
}

.features .item__block.active {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
}

.features .item__block i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    transition: .5s;
}

.features .item__block.active i {
    color: #fff;
}

i.far.fa-lightbulb {}

.documents {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    background-image: url(../images/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fffbf7;
}

.documents .row .col {
    width: 25%;
}

.documents .row {
    display: flex;
    align-items: center;
}

.documents p {
    color: #262626;
    font-size: 18px;
}

.documents h3 {
    font-size: 65px;
    font-weight: 800;
    line-height: 1;
    color: #f55f8d;
}

.documents .row .col .item i {
    font-size: 45px;
    margin-bottom: 15px;
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    padding: 17px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
}

i.far.fa-check-circle {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 5px;
}

.aboutus .row .col .item ul li {
    padding: 8px 0px 8px 0px;
    font-size: 15px;
}

.aboutus .row .col .item ul {
    list-style: none;
    margin-bottom: 30px;
}

.aboutus .row .col .item p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
}

h1.big__title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

h4.small__title {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 0px;
}

.aboutus .row .col .item {
    float: right;
}

.aboutus .row .col .item .item__img {
    width: 50vw;
    position: relative;
}

.aboutus .row .col .item .item__img:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #fef2f6;
    position: absolute;
    top: 0;
    left: -10px;
    border-radius: 0 100px 100px 0;
    transform: rotate(8deg);
    z-index: -1;
}

.aboutus {
    background-image: url(../images/bg15.png);
    background-size: contain;
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center right;
}

.aboutus .row .col .item .item__img img {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

.aboutus .row .col {
    width: 50%;
    padding: 20px;
}

.aboutus .row {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

h3.services__title {
    color: #262626;
    font-size: 23px;
    margin-bottom: 15px;
}

.services__img {
    padding: 20px;
}

.services__img img {
    width: 100%;
    height: auto;
}

.services .row .col .item {border-radius: 0.5rem;background: #fff;box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);padding: 30px;text-align: center;transition: .4s;}

.services .item:hover {
    transform: translateY(-10px);
}

.services {
    background-image: url(../images/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.services .row .col {padding: 15px;width: 33.333333%;}

.services .row {
    display: flex;
}

h1.title__big {
    text-align: center;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
    margin-bottom: 40px;
}

h3.title__small {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
}
.images__move{
    animation: rotateimg 5s infinite;
}
@keyframes rotateimg {
    0% {
        transform: rotate(1deg) translate(2px, 2px); }
    50% {
        transform: rotate(-1deg) translate(-2px, -2px); }
    100% {
        transform: rotate(1deg) translate(2px, 2px); } }


.started__thumbnail .images__move img {
    width: 100%;
    height: 100%;
    transform: scale(1.4);
}

.header__area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 50px;
}

.images__move {
    position: absolute;
    top: 100px;
    left: 0;
}
.thumbnail__banner{
    position: relative;
    width: 570px;
}
.started__thumbnail {
    width: 40%;
    padding-left: 35px;
}

.started__content ul li i {
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
    padding: 10px;
}

.started__content ul li {
    padding: 10px 5px 10px 0px;
    font-size: 20px;
}

.started__content ul {
    list-style: none;
    margin-bottom: 20px;
}

.started__content p {color: #636363;margin-bottom: 20px;line-height: 1.5;font-size: 18px;}

.started__content h1 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 20px;
    color: #262626;
}

.started__content h3 {color: #f55f8d;font-size: 22px;font-weight: 600;margin-bottom: 20px;}

.started__content {width: 60%;}

.started-block {
    display: flex;
    align-items: center;
}

.header__content img {
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}

.footer__bottom .copyright a {
    color: #dd3e6e;
    font-weight: 400;
}

.post__comment a {
    color: inherit;
}

.post__author a {
    color: #f55f8d;
    margin-left: 3px;
}

.blog__content .post__title a {
    color: #262626;
}

.footer__content .row .col li a {
    color: #fff;
}

.plan .button__choose .row .col .item a {
    display: inline-block;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.plan .button__choose .row .col .item:not(.active) a{
    color: #fff;
}
.aboutus .row .col .item .item__submit {
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: #fff;
    background-size: 200%;
    border-radius: 30px;
    padding: 20px 35px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

a.btn__submit {
    padding: 20px 35px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #fff !important;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    display: inline-block;
}

a.btn__submit:hover {
    background-position: right center;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #636363;
    position: relative;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 170px;
}
.header__nav{}
.header__nav ul{
    list-style: none;
}
.header__nav ul li{
    display: inline-block;
    margin-left: 25px;
}
.header__nav ul li a{
    color: #000;
    font-size: 15px;
    font-weight: 500;
    transition: .3s;
}

.header__nav ul li a:hover {
    color: #f55f8d;
}

.header__nav ul .speacial__nav a{
    padding: 20px 40px;
    border:none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.started{
    padding-top: 180px;
    background-image: url(../images/pic2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    overflow: hidden;
}
.block__ml50{
    margin-left: 50px;
}
.features .item__img{
    animation: rotateimg 5s infinite;
}
.title__heading{
    text-align: center;
}
footer {
    padding-top: 50px;
    background-image: url(../images/bg4.png);
    background-color: #0e1b1f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.subscribe .row .col .item .item__subbmit button {
    border: none;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;
    color: #fff;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.subscribe .row .col .item .item__subbmit {}

.subscribe .row .col .item .item__email {border: 1px solid #fff;border-radius: 8px 0 0 8px;padding: 10px 20px;font-size: 18px;font-weight: 400;color: #888;outline: none;height: 60px;flex: 1 1 auto;}

.subscribe .row .col .item {
    display: flex;
}

.subscribe .row .col .item .title {
    font-size: 28px;
    color: #262626;
    font-weight: 700;
}

.subscribe .row .col {
    width: 50%;
}

.subscribe .row {
    display: flex;
    align-items: center;
}

.subscribe {
    padding: 50px 60px;
    background-color: #fff;
    z-index: 99;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../images/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.slick-dots li.slick-active button:before{
    opacity: 1 !important;
    color: #f55f8d !important;
}
.slick-dots li button:before{
    font-size: 10px !important;
    color: black !important;
    opacity: .2 !important;
}